<html>
    <head>
        <title>Multidimensional blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Multidimensional blog. Obey.</a></h1>
        </div>


        <div>
            <p>time matters not</p>
            <h2><a href="/">First Omen</a></h2>
            <p>Terrible signs of Doom...</p>
        </div>


        <div>
            <p>time matters not</p>
            <h2><a href="/">Second Omen</a></h2>
            <p>G...</p>
        </div>
    </body>
</html>